<p style="color: green"><%= notice %></p>

<%= render @driver %>

<div>
  <%= link_to "Edit this driver", edit_driver_path(@driver) %> |
  <%= link_to "Back to drivers", drivers_path %>

  <%= button_to "Destroy this driver", @driver, method: :delete %>
</div>
